@mixin VideoWide($x){
	width: $x;
	height: ($x*9)/16;
}

body{ 
	font-family: $fuenteMain;
	font-weight: 300;
  	display:flex;
  	flex-direction:column; 
  	height:100vh; 
	background-color: #f0f0f0;
	background-image: url("../media/body.png");
}
.estiloTitulos{
	margin-bottom: 1.5rem;
	font-size: 1.5rem;
}
.rojoCustom{
	color: $colorRed;
}

/*Header*/
nav{
	background: $gradienteTransparencia; 
	.navbar__logo{
		height: 7vh;
		min-height: 40px;
		margin: .3rem -.5rem 0 1rem;
	}
	a{
		font-size: 1.15rem;
		font-weight: 200;
	}
	.navbar-toggler {
		font-size: 1.5rem;
	}
}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
	color: $colorRed;
}

/*Main*/
.main__fondo{
	height: 100vh;
	object-fit: cover;
}
.main__fondo-contain{
	margin: 16vh auto 0;
	height: 84vh;
	object-fit: contain;
	width: 110vw;
}
#banner-images{
	overflow: hidden;
}
.main__flechaVolver{
	position: fixed;
	font-size: 2em;
	color: $colorGrisOscuro;
	right: 0.6rem;
	bottom: 74px;
	z-index: 200;
	transition: .2s ease;
    &:hover{
        transform: scale(1.1);
    }
}
/*Slideshows y bio*/
.flexSlideshow{
	margin: 0.5rem;
  	padding: 1rem 0.5rem 2rem 0.5rem;
  	font-size: 1.1rem;
  	flex-flow: wrap;
  	justify-content: space-evenly;
    img{
        width: 100vw;
    }
}
.carousel{
	margin-bottom: 1.25rem;
}
.carousel-caption{
	width: 100%;
	right: 0%;
	left: 0%;
	bottom: 0px;
	padding-top: 35px;
 	background: $gradienteCarousel;
    h5{
        font-size: 1.25rem;
        font-weight: 300;
        color: $colorTiza;
        line-height: 0;
    }
}
.estiloParrafos{
	color: $colorTiza;
	background: $colorDark;
	background: $gradienteTransparencia; 
	padding: 2rem;
	margin-bottom:5.5rem;
	font-size: 1.1rem;
	h2, h1{
		font-weight: 200;
		font-size: 1rem;
	}
}
.estiloParrafos-opaco{
	background: $gradienteFondo;
	z-index: 100;
}
.estiloParrafos-margen{
	margin: -14rem 0 20rem;
}
.estiloParrafos__redes{
	margin-top: 2rem;
  	padding: 0rem;
  	flex-flow: wrap;
  	justify-content: space-evenly;
}
.iconoLink{
	i{
		font-size: 2.5em;
		color: $colorTiza;
		justify-self: end;
		transition: transform .2s ease;
	}
}
.iconoLink--animacion{
	i{
		&:hover{
			transform: scale(1.2);
		}
	}
}

/*Videos*/
.youtube{
	margin: auto;
	width: 100vw;
	img{
		@include VideoWide(105vw);
	}
}
.slick-prev:before, .slick-next:before { 
    color: $colorDark;
}
.slick-dots li.slick-active button::before{
	color: $colorRed;
	opacity: 1;
}
/*Footer*/
footer{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	background: $gradienteFondo;
	margin-top: 2rem;
	padding: 1.9rem 0 0;
	z-index: 100;
    .footer__MediosPago{
		justify-self: end;
        height: 1.75rem;
		max-height: 50px;
        padding-right: 1rem;
    }
    h4{
		font-weight: 200;
		justify-self: start;
		font-size: .9rem;
        color: $colorTiza;
		margin: 0;
  	}
	h5{
		font-weight: 200;
		font-size: .6rem;
		grid-column-start:1;
		grid-column-end:4;
		color: $colorTiza;
		text-align: center;
		align-self: end;
		padding-top: 1.2rem;
	}
	.fa-map-marker-alt{
		color: $colorRed;
		margin: 0 .5rem 0 1rem;
		justify-self: start;
		line-height: 2.3rem;
		font-size: 1.2rem;
	}
	.footer__iconos{
		justify-content: space-evenly;
		transition: transform .2s ease;
		line-height: 0;
		i{
			transition: transform .2s ease;
		}
	}
	.footer__iconos--custom{
		color: $colorTiza;
		font-size: 1.75rem;
		margin: 0 .3rem;
	}
	.footer__location{
		align-items:center;
	}
}

/*Presupuestos*/
.flexPresu{
	flex-direction: column-reverse;
  	justify-content: space-around;
  	margin-top: 100px;
	.flexPresu__foto img{
		height: 80vw;
		margin-bottom: 5vw;
	}
	.flexPresu__titulo{
		font-size: 1rem;
		padding-bottom: 1rem;
	}
	.table .thead-dark th{
		background: $gradienteFondo;
	}
}

/*Contacto*/
.flexContactoMain{
	flex-direction: column;
  	justify-content: space-around;
  	margin-top: 90px;
	form{
		padding: 4vw;
		margin-bottom: 2vh;
		width: 100%;
		.form-text{
			color: $colorGris;
		}
	} 
	textarea{
		resize: none;
	}
    p{
        font-weight:600;
        font-size: 1.25rem;
		padding-bottom: 1rem;
    }
	.form-control{
		font-weight: 300;
		&:focus{
		border-color: $colorGris;
		box-shadow: 0 0 0 .2rem rgba(0, 0, 0, 0.25);
		}
	}
	#maps{
		width: 88vw;
		height: 44vh;
		margin-bottom: 2vh;
		border: 2px solid $colorGris;
	}
	.btn-dark{
		background: $gradienteFondo;
	}
	.btn-danger{
		background: $colorRedLogo;
	}
} 

@media (min-width: 576px){
	.main__fondo-contain{
		width: 75vw;
	}
	#banner-images{
		overflow: visible;
	}
	.main__flechaVolver{
		font-size: 2.75em;
		right: .6rem;
		bottom: 64px;
	}
	.carousel-caption{
		h5{
		font-size: 1.5rem;
		line-height: 1;
		}
	}
	.flexSlideshow {
        img{
		width: 45vw;
	    }
        .fa-lg{
            font-size: 1.5em;
        }
    } 
	.estiloParrafos{
		h2, h1{
			font-size: 1.1rem;
		}
	}
	.slick-dots li button::before{
		font-size: 8px;
		top: 8px;
	}
	footer{
		.footer__MediosPago{
			height: 2rem;
			padding-right: 3rem;
		}
		h4{
			font-size: 1rem;
		  }
		.fa-map-marker-alt{
			margin: 0 .5rem 0 3rem;
			font-size: 1.4rem;
		}
		.footer__iconos--custom{
			font-size: 2rem;
		}
	}
	.flexPresu{
		margin-top: 120px;
	}
}

@media (min-width: 992px){
	nav{
		.navbar__logo{
			height: 4.25rem;
			margin: .4rem -.5rem 0 2rem;
		}
		a{
			font-size: 1.5rem;
			margin: 0 .25rem 0 .25rem;
			transition: color 0.3s ease;
			&:hover{
				color: $colorRed;
			}
		}
		#links{
			justify-content: space-evenly;
		}
	}
	.main__fondo-contain{
		height: 100vh;
		margin: auto;
		object-fit: contain;
		width: 90vw;
	}
	.iconoLink{
		i{
			font-size: 3em;
		}
	}
	.estiloParrafos-margen{
		margin: -11rem 0 18rem;
	}
	.customWidth{
		width: 45vw;
        source{
            width: 45vw;
        }
	} 
	.youtube{
		width: 85vw;
		img{
			@include VideoWide(60vw);
		}
	}
	footer{
		padding-top: 2.75rem;
		.footer__MediosPago{
			height: 2.5rem;
			padding-right: 3.5rem;
		}
		h4{
			font-size: 1.1rem;
		  }
		h5{
			padding-top: 2.25rem;
			font-size: .8rem;
		}
		.fa-map-marker-alt{
			margin: 0 .5rem 0 3.5rem;
			font-size: 1.5rem;
		}
		.footer__iconos--custom{
			font-size: 2.5rem;
		}
	}
	.flexContactoMain{
	flex-flow: row;
	align-items: flex-start;
	margin-top: 110px;
		form{
			width: 45vw;
			height: 36vw;
			padding: 2vw;
		}
		#maps{
			width: 40vw;
			height: 40vw;
		}
	}	 	
	.flexPresu{
		flex-flow: row;
		.flexPresu__foto img{
			height: 35vw;
			margin-bottom: .5vw;
			margin-left: 3rem;
		}
	}
}