@mixin flexCenter {
	display: flex;
	align-items: center;	
}
@mixin VideoWide($x){
	width: $x;
	height: ($x*9)/16;
}

body{ 
	font-family: $fuenteMain;
	font-weight: 300;
  	display:flex;
  	flex-direction:column; 
  	height:100vh; 
	background-color: #f0f0f0;
	background-image: url("../media/body.png");
}
.estiloTitulos{
	margin-bottom: 1.5rem;
	font-size: 1.5rem;
}
.rojo{
	color: $colorRed;
}

/*Header*/
nav{
	background: $gradienteTransparencia; 
	.navbar__logo{
		height: 7vh;
		min-height: 40px;
		margin: .3rem -.5rem 0 1rem;
	}
	a{
		font-size: 1.15rem;
		font-weight: 200;
	}
	.navbar-toggler {
		font-size: 1.5rem;
	}
}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
	color: $colorRed;
}

/*Main*/
.main__fondo{
	width: 100%;
	height: 100vh;
	display: block;
	object-fit: cover;
}
.main__flechaVolver{
	position: fixed;
	font-size: 2em;
	color: #5e5e5e;
	right: 0.6rem;
	bottom: 70px;
	z-index: 20;
	transition: .2s ease;
    &:hover{
        transform: scale(1.1);
    }
}
/*Slideshows y bio*/
.flexSlideshow{
	display: flex;
	margin: 0.5rem;
  	padding: 1rem 0.5rem 2rem 0.5rem;
  	font-size: 1.1rem;
  	flex-flow: wrap;
  	justify-content: space-evenly;
    img{
        width: 100vw;
    }
}
.carousel{
	margin-bottom: 1.25rem;
}
.carousel-caption{
	width: 100%;
	right: 0%;
	left: 0%;
	bottom: 0px;
	padding-top: 35px;
 	background: $gradienteCarousel;
    h5{
        font-size: 1.25rem;
        font-weight: 300;
        color: $colorTiza;
        line-height: 0;
    }
}
.estiloParrafos{
	color: $colorTiza;
	background: $colorDark;
	background: $gradienteTransparencia; 
	padding: 2rem;
	margin-bottom:5rem;
	font-size: 1.1rem;
	h2, h1{
		font-weight: 200;
		font-size: 1rem;
	}
}
.estiloParrafos-opaco{
	background: $gradienteFondo;
	z-index: 100;
}
.estiloParrafos-margen{
	margin: -14rem 0 20rem;
}
.estiloParrafos__redes{
	@include flexCenter;
	margin-top: 2rem;
  	padding: 0rem;
  	flex-flow: wrap;
  	justify-content: space-evenly;
}
.iconoLink{
	i{
		font-size: 2.5em;
		color: $colorTiza;
		justify-self: end;
		transition: transform .2s ease;
	}
}
.iconoLink--animacion{
	i{
		&:hover{
			transform: scale(1.2);
		}
	}
}

/*Videos*/
.youtube{
	margin: auto;
	width: 100vw;
	img{
		@include VideoWide(100vw);
	}
}
.slick-prev:before, .slick-next:before { 
    color: $colorDark;
}
.slick-dots li.slick-active button::before{
	color: $colorRed;
	opacity: 1;
}
/*Footer*/
footer{
	display: grid;
	grid-template-columns: 3rem auto auto;
	align-items: center;
	justify-items: stretch;
	background: $gradienteFondo;
	margin-top: 2rem;
	padding: 1.75rem 0;
    .footer__MediosPago{
		justify-self: end;
        height: 40px;
		max-height: 50px;
        padding: 0.15rem 1.5rem 0.15rem 0.5rem;
    }
    h5{
		font-weight: 200;
        text-align: left;
        font-size: 1rem;
        color: $colorTiza;
		margin: .25rem .25rem .25rem 0rem;
  	}
	.fa-map-marker-alt{
		color: $colorRed;
		margin-left: 1.25rem;
	}
}

/*Contacto*/
.flexContactoMain{
	@include flexCenter;
	flex-direction: column;
  	justify-content: space-around;
  	margin-top: 15vh;
	form{
		padding: 4vw;
		margin-bottom: 2vh;
		position: relative;
	} 
    p{
        font-weight:600;
        font-size: 1.25rem;
		padding-bottom: 1rem;
    }
	#maps{
		width: 88vw;
		height: 44vh;
		margin-bottom: 2vh;
		border: 2px solid $colorGris;
	}
	.btn-dark{
		background: $gradienteFondo;
	}
	.btn-danger{
		background: $colorRedLogo;
	}
} 

/*Presupuestos*/
.flexPresu{
	display: flex;
	flex-direction: column-reverse;
  	justify-content: space-around;
  	margin-top: 15vh;
	.flexPresu__foto img{
		height: 80vw;
		margin-bottom: 5vw;
	}
	.flexPresu__titulo{
		font-size: 1rem;
		display: block;
		padding-bottom: 1rem;
	}
	.table .thead-dark th{
		background: $gradienteFondo;
	}
}

@media (min-width: 576px){
	.main__flechaVolver{
		font-size: 3em;
		right: .6rem;
		bottom: 35px;
	}
	.carousel-caption{
		h5{
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1;
		color: $colorTiza;
		}
	}
	.flexSlideshow {
        img{
		width: 45vw;
	    }
        .fa-lg{
            font-size: 1.5em;
        }
    } 
	.estiloParrafos{
		h2, h1{
			font-size: 1.1rem;
		}
	}
	.slick-dots li button::before{
		font-size: 8px;
		top: 8px;
	}
	footer{
	    grid-template-columns: 3rem auto 15rem;
        .footer__MediosPago{
			width: 28vw;
			height: auto;
            padding: 0.15rem 5rem 0.15rem 0.5rem;
        }
		.fa-map-marker-alt{
			padding-left: 4rem;
			font-size: 1.9em;
		}
        h5{
            font-size: 1.25rem;
			margin: .5rem;
			padding-left: 4rem;
        }
	}
}

@media (min-width: 992px){
	nav{
		.navbar__logo{
			height: 4.25rem;
			min-height: 40px;
			margin: .4rem -.5rem 0 2rem;
		}
		a{
			font-size: 1.5rem;
			margin: 0 .25rem 0 .25rem;
			transition: color 0.3s ease;
			&:hover{
				color: $colorRed;
			}
		}
		#links{
			justify-content: space-evenly;
		}
	}
	.main__fondo-contain{
		object-fit: contain;
	}
	.iconoLink{
		i{
			font-size: 3em;
		}
	}
	.estiloParrafos-margen{
		margin: -11rem 0 18rem;
	}
	.customWidth{
		width: 45vw;
        source{
            width: 45vw;
        }
	} 
	.youtube{
		width: 85vw;
		img{
			@include VideoWide(60vw);
		}
	}
	footer{
		.footer__MediosPago{
		width: 15vw;
		}	
	}
	.flexContactoMain{
	flex-flow: row;
	align-items: flex-start;
		form{
			width: 45vw;
			height: 36vw;
			padding: 2vw;
		}
		#maps{
			width: 40vw;
			height: 40vw;
		}
	}	 	
	.flexPresu{
		flex-flow: row;
		.flexPresu__foto img{
			height: 35vw;
			margin-bottom: .5vw;
			margin-left: 3rem;
		}
	}
}